@font-face {
    font-family: 'Willy';
    src: url('fonte-willy.ttf');
}

@media (min-width: 769px) {
    .landscape {
        height: 100vh; /* Ocupa toda a altura da tela */
        width: auto; /* A largura será ajustada proporcionalmente */
        object-fit: cover; /* Faz com que a imagem preencha a tela sem distorcer */
        object-position: top; /* Centraliza a parte de cima da imagem no topo */
    }

    /* Estilos para a descrição em telas maiores */
    .description {
        bottom: 100px; /* Eleva a descrição 30px acima do valor anterior */
        font-size: 24px; /* Aumenta o tamanho da fonte */
    }
}



body {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Bitter', serif;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.background-image {
    position: fixed;
    bottom: 10;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
    z-index: 0;
}

.landscape {
    height: 80%;
    width: auto;
    object-fit: fill;
    object-position: top;
}

.image-container {
    position: absolute;
    top: 50%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    transform: translateY(-50%);
    z-index: 1;
}

.left-image, .right-image {
    width: 200px;
    height: 260px;
}

.description {
    position: fixed;
    bottom: 71px;
    text-align: center;
    font-size: 18px;
    background-color: #202020;
    max-width: 600px;
    z-index: 1;
    padding: 0 10px;
    text-shadow: 2px 2px 4px #000000;
}

.description2 {
    position: fixed;
    bottom: -25px;
    text-align: center;
    font-size: 18px;
    background-color: #202020;
    color: #00c3ff;
    max-width: 600px;
    z-index: 1;
    padding: 0 10px;
    text-shadow: 2px 2px 4px #000000;
}

.download-button {
    position: absolute;
    bottom: 15px;
    text-align: center;
    font-family: 'Willy';
    padding: 10px 20px;
    font-size: 50px;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 8px;
    background: linear-gradient(180deg, #00c3ff, #007ad9);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    z-index: 1;
}

.download-button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

/*@media (max-width: 768px) {
    .image-container,
    .download-button,
    .description {
        display: none;
    }

    .background-image {
        height: auto;
        width: 100vw;
        top: 0;
        bottom: unset;
    }
}

@media (min-width: 769px) {
    .background-image {
        max-width: 600px;
        height: 100vh;
        width: 100vw;
    }
}
    */
